{% extends 'app/account_base.html' %}

{% block content %}

<div class="mdl-layout mdl-js-layout">
  <div class="mdl-card mdl-shadow--6dp mdl-typography--text-center" id="login-page">
<form action="/login" method="post" id="login-form">
  {% csrf_token %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <p class="mdl-typography--headline">Login</p>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
      {{ form.username }}
      <label for="id_username" class="mdl-textfield__label">Username</label>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield">
      {{ form.password }}
      <label for="id_password" class="mdl-textfield__label">Password</label>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <input type="hidden" name="next" value="/a/" />
      <a href="javascript:document.getElementById('login-form').submit()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Login</a>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <p class="mdl-typography__text-center"> or login with ...</p>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      {% load socialaccount %}
      <a href="{% provider_login_url 'facebook' method='oauth2' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--col-12" style="background: #3b5998">Facebook</a>
      <a href="{% provider_login_url 'google' method='oauth2' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--col-12" style="background: #d34836">Google+</a>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-left">
          <a href="/register/">Register Now!</a>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-typography--text-right">
          <a class="">Forgot password?</a>
        </div>
      </div>
    </div>
  </div>
     {% if form.errors %}
    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
    {% endif %}
  </form>
  </div>
</div>
{% endblock %}

