{% extends "app/layout_material.html" %}
{% load staticfiles %}

{% block layout-title %}
    <span class="mdl-layout-title">Cell N1: Neuron <small>v{{ version }}</small></span>
{% endblock %}





{% block content %}


<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--6-col">
        <img src="{% static 'celln1/images/Example_2.jpg' %}" id='example-img' style="width:100%">
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-layout">
        <div class="mdl-card__title">
            <div class="mdl-card__title-text">Neuron image dendrite quantification</div>
        </div>
        <div class="mdl-card__supporting-text">
          The analysis output parameters:
          <ul>
            <li>Total Soma Count</li>
            <li>Number of Total Attachment Points: the counts of dendrite grows out of neuron.</li>
            <li>Number of Total EndPoints: the counts of detected dendrite ends.</li>
          </ul>
          Input images are not limited by any size
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__actions mdl-card--border">
           <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="preview-example">
             Preview the example result
           </button>
        </div>
      </div>
    </div>
</div>

<script>
var example_click_time = 0;
$("#preview-example").click(function(){
    if(example_click_time === 0){
        $("#example-img").attr("src", '{% static 'celln1/images/Example_2_output.jpg' %}');
        example_click_time = 1;
    }else{
        $("#example-img").attr("src", '{% static 'celln1/images/Example_2.jpg' %}');
        example_click_time = 0;
    }
})
</script>


<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="mdl-card__title-text">Image Uploaded</div>
    </div>

    <div class="mdl-card__supporting-text">
        <div class="mdl-grid" id="dz-preview">

            <div class="mdl-cell mdl-cell--6-col" id="dz-template">
                <div class="mdl-grid mdl-grid--no-spacing mdl-shadow--3dp dz-preview dz-file-preview">
                    <div class="mdl-cell mdl-cell--3-col">
                        <img data-dz-thumbnail />
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <div class="dz-filename"><span data-dz-name></span></div>
                        <div class="dz-size"><span data-dz-size></span></div>
                        <div class="mdl-progress mdl-js-progress"></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                    <div class="mdl-cell mdl-cell--1-col" style="display: flex;background: gainsboro;">
                        <div class="dz-success-mark dz-status"><span>✔</span></div>
                        <div class="dz-error-mark dz-status"><span>✘</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card__title">
        <div class="mdl-card__title-text">Results</div>
    </div>
    <div class="mdl-card__supporting-text">
        {% if user.is_authenticated %}
        <table id="result-list" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Viewer</th>
              <th>File Name</th>
              <th>Soma</th>
              <th>Attachments</th>
              <th>EndPoints</th>
              <th>Created</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        {% else %}
        <div>Log in to save your results</div>
        {% endif %}
    </div>
</div>

<div class="dz-upload-button">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="dz-upload-material">
    <i class="material-icons">add</i>
  </button>
</div>

{% endblock %}




{% block head-styles %}

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/basic.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/dropzone.css' %}" />
  <!--
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.bootstrap.css"/>
  -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.2/css/buttons.bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/spinkit.css' %}" />

  <style type="text/css">

    .dz-status{
      display: none;
      margin: auto;
    }



    .dz-upload-button{
      position: fixed;
      right: 25px;
      bottom: 25px;
    }

    .section--center{
        max-width: 1080px;
        margin: 48px auto 48px auto;
    }

    @media only screen and (max-width: 840px) {
      .section--center {
        margin: 48px 20px 48px 20px;
      }
    }

    #icon {
      display: inline-block;
      width: 64px;
      height: 64px;
    }
    .dropzone .dz-message {
      font-size: large;
    }
    div.DTS div.dataTables_scrollBody {
      background: white;
    }
    .cellq-icon {
      display: inline-block;
      width: 22px;
      height: 22px;
    }
    .preview-img {
      padding: 10px;
    }
    .preview-img img {
      padding: 10px 0px 0px;
    }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{% static 'app/scripts/dropzone.js' %}"></script>
  <script src="{% static 'app/scripts/underscore-min.js' %}"></script>
  <!--
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>
  -->
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
  <script type="text/template" id="loading-template">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </script>
  <script type="text/template" id="viewer-btn-template">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect viewer-btn" data-toggle="tooltip" data-placement="right"
       data-container="body" data-html="true" data-trigger="hover"
       title="<div class='preview-img'>Result Image Preview <img src='<%= result_img %>' width='100%' height='100%'></div>"
       target="_blank" href="<%= task_url %>" role="button">
      <span class="glyphicon glyphicon-new-window"></span> Image
    </a>
  </script>
  <script type="text/template" id="cellq-name-template">
    <img class="cellq-icon" src="{% static 'app/images/cellq_icon.png' %}"> <%= name %>
  </script>
  <script src="{% static 'celln1/js/index.js' %}"></script>

{% endblock %}
