{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="mdl-card__title">
  <h1>{% trans "Confirm E-mail Address" %}</h1>
</div>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}
<div class="mdl-card__supporting-text">
  <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
  {% csrf_token %}
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit-button" type="submit">{% trans 'Confirm' %}</button>
  </form>
</div>
{% else %}

{% url 'account_email' as email_url %}
<div class="mdl-card__supporting-text">
  <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
</div>
{% endif %}

{% endblock %}


{% block extra_head %}
<style>
.signup{
  padding: 16px 16px 0 16px;
}

#submit-button{
  width:100%;
  margin-top:20px;
}

</style>
{% endblock %}
