{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="mdl-card__title">
    <h1>{% trans "Password Reset" %}</h1>
</div>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
<div class="mdl-card__supporting-text">
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>

<div class="mdl-card__actions">
  <a href="{% url 'account_login' %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Sign In</a>
</div>

  {% endblock %}




{% block extra_head %}
  <style>

    .mdl-card__actions{
      position:absolute;
      bottom:10px;
    }

    .fix-content{
      display:flex;
    }
  </style>
{% endblock %}
