{% extends "account/base.html" %}

{% load i18n %}
{% load material_form %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="mdl-card__title">
<h1>{% trans "Sign Up" %}</h1>
</div>



<form class="signup mdl-card__supporting-text" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% form form=form %}{% endform %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit-button" type="submit">{% trans "Submit" %}</button>
</form>

{% endblock %}


{% block extra_head %}
<style>
.signup{
  padding: 16px 16px 0 16px;
}

#submit-button{
  width:100%;
  margin-top:20px;
}

</style>
{% endblock %}
