{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content-body %}

<style>
body{
 margin-top:50px;
}
.navbar.navbar-fixed-top{
 background-color: #673AB7;
-webkit-box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
box-shadow: 0px 4px 15px -2px rgba(0,0,0,0.75);
}

.navbar a{
 color:#FFF;
}
</style>
<h1>Cell S: Selection<small>v0.1</small></h1>
<img class="img-fluid center-block" src="/static/app/images/cells_preview.png" width="100%"></img>


<br />
<ul>
    <li>Example 1
        <ul>
            <li><a href="/media/icsi/task/734d3f79240d5dba5ade7997c81ddee7/734d3f79240d5dba5ade7997c81ddee7_in.jpg">Download Input Image</a></li> 
            <li><a href="/icsi/734d3f79240d5dba5ade7997c81ddee7">View Result Page</a></li>
        </ul>
    </li>
    <li>Example 2
        <ul>
            <li><a href="/media/icsi/task/31d43c313421186b8c09ba87f774a9a8/31d43c313421186b8c09ba87f774a9a8_in.jpg">Download Input Image</a></li> 
            <li><a href="/icsi/31d43c313421186b8c09ba87f774a9a8">View Result Page</a></li>
        </ul>
    </li>
</ul>


<div class="container">
<div class="panel panel-success">
<div class="panel-heading">File upload</div>
<div class="panel-body">
<ul>
  <li>Automatic cropping out ovums</li>
  <li>Grade estimation by morphological feature</li>
</ul>

<form id="add-photos" action="{% url 'icsi' %}" class="dropzone">
  {% csrf_token %}
</form>
</div>
</div>



  {% if user.is_authenticated %}
<div class="panel panel-primary">
<div class="panel-heading">Task List</div>
  <div class="panel-body">
  <table id="result-list" class="display"  cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Viewer</th>
        <th>File Name</th>
        <th>Mother Name</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
        <th>Created</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>


  {% else %}

  <div>Log in to save your results</div>

  {% endif %}
</div>
</div>

{% endblock %}
{% block head-styles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/basic.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/dropzone.css' %}" />
  <!--
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.bootstrap.css"/>
-->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/spinkit.css' %}" />

<style type="text/css">
  #icon {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .dropzone .dz-message {
    font-size: large;
  }
  div.DTS div.dataTables_scrollBody {
    background: white;
  }
  .cellq-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
  }
  .preview-img {
    padding: 10px;
  }
  .preview-img img {
    padding: 10px 0px 0px;
  }
  .div-left{
    width:70%;
    height:100%;
    padding: 20px 20px 20px;
    float: left;
  }
  .div-right{
    width:30%;
    height:100%;
    padding: 20px 20px 20px;
    float: right;
  }



</style>
{% endblock %}
{% block scripts %}
<script src="{% static 'app/scripts/dropzone.js' %}"></script>
  <script src="{% static 'app/scripts/underscore-min.js' %}"></script>
  <!--
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>
  -->
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.min.js"></script>

  <!-- Circle bar -->
  <script type="text/template" id="loading-template">
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </script>

  <!-- Image preview -->
  <script type="text/template" id="viewer-btn-template">
    <a class="btn btn-default btn-xs viewer-btn" data-toggle="tooltip" data-placement="right"
       data-container="body" data-html="true" data-trigger="hover"
       title="<div class='preview-img'>Result Image Preview <img src='<%= result_img %>' width='100%' height='100%'></div>"
       target="_blank" href="<%= task_url %>" role="button">
      <span class="glyphicon glyphicon-new-window"></span> Image
    </a>
  </script>

  <!-- Cell image icon -->
  <script type="text/template" id="cellq-name-template">
    <img class="cellq-icon" src="{% static 'app/images/celle-icon.png' %}"> <%= name %>
  </script>

 <!-- Report template -->
 <script type="text/template" id="report-template">
    <a class="btn btn-danger"><span class="glyphicon glyphicon-send"></span> Report</a>
  </script>

  <!-- fetch the result from database -->
  <script>
    $(document).ready(function () {
      if ($('#result-list').length) { // check if user is logged in
        var running_template = $('#loading-template').html();
        var view_btn_compiled = _.template($('#viewer-btn-template').html());
        var cellq_name_compiled = _.template($('#cellq-name-template').html());
        var date_now = (new Date()).toLocaleDateString();
        var report_template = $('#report-template').html();
        var result_table;
        result_table = $('#result-list').DataTable({
          ajax: 'api/v1/tasks',
          deferRender: true,
          scroller: true,
          scrollY:550,
          order: [[7, 'desc']],
          columns: [
            {
              name: 'viewer', data: 'url', width: '50px', orderable: false,className:'dt-center',
              render: function (data, type, row, meta) {
                if (type === 'display')
                  return view_btn_compiled({
                    task_url: data,
                    result_img: row.result_img
                  });
                else
                  return data;
              }
            },
            {
              name: 'file-name', data: 'name', width: '100px',
              render: function (data, type, row, meta) {
                if (type === 'display')
                  return cellq_name_compiled({ name: data });
                else
                  return data;
              }
            },
            {
              name: 'mother-name', data: 'mother_name', width:'100px', className:'dt-center',
            },
            {
              name: 'ovum-A', type: 'num', data: 'number_of_A', defaultContent: running_template, width:'10px',className:'dt-center',
            },
            {
              name: 'ovum-B', type: 'num', data: 'number_of_B', defaultContent: running_template, width:'10px',className:'dt-center',
            },
            {
              name: 'ovum-C', type: 'num', data: 'number_of_C', defaultContent: running_template, width:'10px',className:'dt-center',
            },
            {
              name: 'ovum-D', type: 'num', data: 'number_of_D', defaultContent: running_template, width:'10px',className:'dt-center',
            },
            {
              name: 'ovum-E', type: 'num', data: 'number_of_E', defaultContent: running_template, width:'10px',className:'dt-center',
            },
            {
              name: 'created', type: 'date', data: 'created', width: '200px',className:'dt-center',
              render: function (data, type, row, meta) {
                var date = (new Date(data));
                if (type === 'display') {
                  var date_str = date.toLocaleDateString();
                  if (date_now === date_str)
                    return date.toLocaleTimeString();
                  else
                    return date_str;
                }
                else
                  return date;
              }
            },
            {
              name: 'report', defaultContent: report_template,className:'dt-center',
            },
          ],
          createdRow: function (row, data, index) {
            // initialize bootstrap tooltip
            $('.viewer-btn', row).tooltip();
          }
        });

        var unfinished = ['queued', 'running'];
        var unfinished_task_ids;
        var polling = false;
        $('#result-list').on('xhr.dt', function (e, settings, json, xhr) {
          // json data loaded
          // get a list of queued and running tasks
          console.log(e, settings, json, xhr);
          if (!json) return; // consecutive ajax.reload() may result in 'abort' status
          unfinished_task_ids = _.pluck(_.filter(json.data, (t) => _.contains(unfinished, t.status)), 'id');
          console.log(unfinished_task_ids);
         
          if (unfinished_task_ids.length > 0 && polling == false) {
            polling = true;
            var finished = ['success', 'failed'];
            var poll = function () {
              $.ajax({
                url: 'api/v1/tasks/status',
                dataType: 'json',
                type: 'GET',
                data: { 'id': unfinished_task_ids },
                traditional: true,
                success: function (data, status) {
                  //console.log(_.some(finished, (c) => _.contains(_.pluck(data.data, 'result_status'), c)));
                  if (_.some(finished, (c) => _.contains(_.pluck(data.data, 'result_status'), c))) {
                    polling = false;
                    result_table.ajax.reload();
                  } else
                    setTimeout(poll, 3000);
                }
              });
            };
            poll();
          } else {
            polling = false;
          }
        });
        Dropzone.options.addPhotos = {
          maxFilesize: 256, // MB
          uploadMultiple: false,
          parallelUploads: 2,
          maxFiles: null,
          thumbnailWidth: null,
          thumbnailHeight: 120,
          dictDefaultMessage: 'Drop one or more images here to upload',
          init: function () {
            this.on('success', function (file, response) {
              // reload result table data
              result_table.ajax.reload()
            });
          }
        };
      } else {
        Dropzone.options.addPhotos = {
          maxFilesize: 256, // MB
          uploadMultiple: false,
          maxFiles: 1,
          thumbnailWidth: null,
          thumbnailHeight: 120,
          dictDefaultMessage: 'Drop image here to upload',
          init: function () {
            this.on('success', function (file, response) {
              //console.log(file, response);
              window.location = '/' + response;
            });
          }
        };
      }
    });
  </script>



{% endblock %}