<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cell Cloud | HiDOS</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.lime-red.min.css" />
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-red.min.css" />
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- font -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Rufina' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oleo+Script:700' rel='stylesheet' type='text/css'>


</head>

<body>

  <div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title header-title">CellCloud</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link">Features</a>
          <a class="mdl-navigation__link">Services</a>
          <a class="mdl-navigation__link">Contact us</a>
        </nav>
      </div>
    </header>


    <div class="page-content">
      <main class="mdl-layout__content">
        <div class="cellcloud-layout">
          <div class="hero">
            <p class="mdl-typography--display-2">HiDOS CellCloud</p>
            <p class="mdl-typography--headline">Instant cell image analysis without any parameter setting for modern biologists</p>
            {% if user.is_authenticated %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-typography--display-1" href="/logout">logout</a>
            {% else %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-typography--display-1" href="{% url 'account_login' %}">login</a>
            {% endif %}
          </div>
        </div>

        <!-- about section -->
        <section class="mdl-shadow--4dp" id="about">
          <div class="mdl-layout mdl-layout-js">
              <!-- about -->
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--8-col about">
                <h3 class="mdl-typography--display-1">About CellCloud</h3>
                <p>
                  CellCloud is a cloud-base cell image analysis service for modern biologists.
                </p>
                <p>
                  Quantify the experimental images is no more annoying and time counsuming, what we are doing is to save your precious time and speed up your research
                </p>
                <p>
                  Our team focus on image analysis. We provide the fastest and the most user friendly platform for you. You don’t need to install the software, set lots of parameters, or wait for hours. Just drag and drop the images into CellCloud interface, and get the report instantly.
                </p>
              </div>
            </div>

                <!-- feature -->
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col feature">
                  <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                      <div class="mdl-grid mdl-shadow--2dp mdl-card feature-card">
                        <div class="mdl-card__supporting-text">
                          <p class="mdl-typography--text-center">
                            <i class="material-icons feature-icon">access_time</i>
                          </p>
                          <p class="mdl-typography--headline mdl-typography--text-center">
                            Real Time
                          </p>
                          <p>
                            You don’t need to wait for several hours or even days anymore. We process the image analysis in seconds.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="mdl-cell mdl-cell--4-col">
                      <div class="mdl-grid mdl-shadow--2dp mdl-card feature-card">
                        <div class="mdl-card__supporting-text">
                          <p class="mdl-typography--text-center">
                            <i class="fa fa-compass feature-icon" aria-hidden="true"></i>
                          </p>
                          <p class="mdl-typography--headline mdl-typography--text-center">
                            No parameters
                          </p>
                          <p>
                            We set all parameters automatically for you. You can easily analyze images and get the report without having any image analysis skills.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="mdl-cell mdl-cell--4-col">
                      <div class="mdl-grid mdl-shadow--2dp mdl-card feature-card">
                        <div class="mdl-card__supporting-text">
                          <p class="mdl-typography--text-center">
                            <i class="material-icons feature-icon">cloud_circle</i>
                          </p>
                          <p class="mdl-typography--headline mdl-typography--text-center">
                            Online file management
                          </p>
                          <p>
                            We set all parameters automatically for you. You can easily analyze images and get the report without having any image analysis skills.
                          </p>
                        </div>
                      </div>
                    </div>


                   </div>
                  </div>
              </div>
          </div>
        </section>

        <!-- Service section-->
        <section id="service">
          <div class="mdl-layout mdl-layout-js">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--8-col service">
                <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                    <h3 class="mdl-typography--display-1">Service</h3>
                  </div>
                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="cella">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell A: Angiogenesis</h2>
                        <h4 class="mdl-card__title-text"></h4>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="a/">Analysis</a>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="cellc1">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell C1: Count</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="c1/">Analysis</a>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="cellc2">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell C2: Confluence</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="c2/">Analysis</a>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="cellm1">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell M1: Transwell Migration</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="m1/">Analysis</a>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="cellm3">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell M3: Wound Healing Migration</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="m3/">Analysis</a>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <div class="mdl-card mdl-shadow--2dp" id="celln1">
                      <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Cell N1: Neurite analysis</h2>
                      </div>
                      <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="n1/">Analysis</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <!-- contact section -->
        <section id="contact">
          <div class="mdl-layout mdl-layout-js">
            <div class="mdl-grid contact">
              <div class="mdl-cell mdl-cell--8-col">
                <!--
                <div class="company-section">
                  <p class="mdl-typography--display-2">宣捷生物科技股份有限公司</p>
                  <p class="mdl-typography--display-1">高通量平台研究處</p>
                </div>
                <div class="map-section">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1806.7687020071917!2d121.5616604164869!3d25.083663598784963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac0e19449ce3%3A0x462392b239e7fcab!2z5a6j5o2355Sf54mp56eR5oqA6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1465285052274" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

                -->
                 <!-- register -->
              </div>
            </div>
          </div>
        </section>


        <section>
           <div class="register-section">
             <div class="mdl-grid mdl-typography--text-center">
              <div class="mdl-cell mdl-cell--12-col">
                  <p class="mdl-typography--display-1">Save Your Time Now</p>
                </div>
                <div class="mdl-cell mdl-cell--12-col">
                  <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-typography--display-1" href="/accounts/login/">Register</a>
                </div>
              </div>
            </div>

            <!-- company -->
            <footer>
              <p class="mdl-typography--text-right">Copyright © 2016 Meridigen Biotechnology. All rights reserved.</p>
            </footer>
        </section>



      </main>
    </div>
  </div>
</body>


<style>

  .header-title{
    font-family: 'Oleo Script', cursive;
  }

  .mdl-layout__header-row > span, .mdl-layout__header-row > nav > .mdl-navigation__link {
    color:white;
  }


  .cellcloud-layout{
    padding:0 0;
    height: 100vh;
    background: url("static/cell/images/cover.png") no-repeat center / cover;
    display:flex;
  }

  .hero{
    margin: auto;
  }

  .hero > h2 {
    color: white;
  }

  .hero > p {
    color: white;
  }

  .hero > a {
    margin-top:20px;
  }

  .mdl-card{
    width: auto;
  }

  .page-content{
    margin-top: -64px;
  }

  #about{
    padding-bottom: 10%;
  }

  .about{
    margin:5% auto;
  }

  .about > p{
    font-family: 'Rufina', serif;
    font-size:18px;
    line-height: 1.6em;
  }

  .feature{
    margin:auto
  }

  .feature-card{
    height:100%;
  }

  .feature-icon{
    font-size:56px;
  }

  .service{
    margin:auto
  }

  .service h3{
    font-family: 'Rufina', serif;
  }

  #service{
    padding: 5% 0;
  }


  #cella > .mdl-card__title{
    background: url('static/cell/images/cella-card.jpg') center/ cover;
    height: 250px
  }

  #cellc1 > .mdl-card__title{
    background: url('static/cell/images/cellc1-card.png') center/ cover;
    height: 250px
  }

  #cellc2 > .mdl-card__title{
    background: url('static/cell/images/cellc2-card.png') center/ cover;
    height: 250px
  }

  #cellm1 > .mdl-card__title{
    background: url('static/cell/images/cellm1-card.jpg') center/ cover;
    height: 250px
  }

  #cellm3 > .mdl-card__title{
    background: url('static/cell/images/cellm3-card.jpg') center/ cover;
    height: 250px
  }

  #celln1 > .mdl-card__title{
    background: url('static/cell/images/celln1-card.jpg') center/ cover;
    height: 250px
  }


  .contact{
    margin: 0 0;
    display: flex;
  }

  .contact > .mdl-cell{
    margin: auto;
  }


  .register-section{
    background:indianred;
    height: 70vh;
    margin-top: -30vh;
  }

  .register-section > .mdl-grid{
    padding-top: 25%;
  }

  .register-section p{
    color:white;
  }

  footer{
    padding-right:5%;
  }



</style>




</html>
