{%  load staticfiles %}

<div class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone example-img" id="example-img"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-layout">
        <div class="mdl-card__title">
            <div class="mdl-card__title-text">Angiogenesis image quantification</div>
        </div>
        <div class="mdl-card__supporting-text">
          The analysis output parameters:

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
              <ul>
                <li>Mesh Count</li>
                <li>Junction Count</li>
                <li>Extremity Count</li>
                <li>Branch Count</li>
                <li>Segment Count</li>
                <li>Total Branch Length</li>
                <li>Total Segment Length</li>
                <li>Total Network Length</li>
              </ul>
              </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--6-col-phone">
              <ul>
                <li>Total Mesh Area</li>
                <li>Mean Mesh Area</li>
                <li>Mean Mesh Perimeter</li>
                <li>Std. Mesh Perimeter</li>
                <li>Mean Branch Length</li>
                <li>Std. Branch Length</li>
                <li>Mean Segment Length</li>
                <li>Std. Segment Length</li>
                <li>Connectivity</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-card__actions mdl-card--border">
           <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="preview-example">
             Preview the example result
           </button>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" onclick="javascript:window.open('http://hidos.io/cellcloud-docs/CellA.html')">
            <i class="material-icons">help_outline</i>
          </button>
        </div>
      </div>
    </div>
</div>

<style>
.example-img{
    background-image: url("{% static 'cella/images/Example.jpg' %}");
    background-size: cover;
    background-position: center;

  }

  @media (max-width: 479px){
  .example-img{
    height:300px;
  }
  }

  @media (max-width: 839px) and (min-width: 480px){
  .example-img{
    height:300px;
  }
  }



  .result{
    background-image: url("{% static 'cella/images/Example_r.jpg' %}");
    background-size: cover;
    background-position: center;
  }

</style>



<script>
var example_click_time = 0;
var preview = function(){
    if(example_click_time === 0){
        $("#example-img").addClass('result');
        example_click_time = 1;
    }else{
        $("#example-img").removeClass('result');
        example_click_time = 0;
    }
}



$("#preview-example").click(preview);
$("#example-img").click(preview);
</script>
