{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content-fluid %}

<div class="jumbotron" id="home_jumbotron">
    <div class="container text-center">
    <h1 id="title">Cell S<small id='title_small'>election</small><h1>
    <h2 id="subtitle">A better way to select proper embryos for ICSI implantations</h2>
    <!-- <a class="btn btn-default btn-lg" role="button" href="{% url 'login' %}">Log in</a> -->
    </div>
</div>


<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2 id="features" class="text-center">Features</h2>
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                   <i class="feature_icon mdi mdi-cloud"></i>
                </div>
                <h3 class="feature">Cloud-Based</h3> 
                <h4 class="feature">Cell S provides a user-friendly cloud plateform which makes doctors and technicians easier to control every embryos status instanly.</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                    <i class="feature_icon mdi mdi-memory"></i>
               </div>
               <h3 class="feature">Deep Learning</h3> 
               <h4 class="feature">With the technology of machine learning, we </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                   <i class="feature_icon mdi mdi-clipboard-check"></i>
               </div>
               <h3 class="feature">Automatic Report</h3> 
               <h4 class="feature"></h4>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                   <i class="feature_icon glyphicon glyphicon-eye-open"></i>
                </div>
                <h3 class="feature">Live View</h3> 
                <h4 class="feature">Cell S provides a user-friendly cloud plateform which makes doctors and technicians easier to control every embryos status instanly.</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                   <i class="feature_icon glyphicon glyphicon-thumbs-up"></i>
                </div>
                <h3 class="feature">Getting Perfect</h3> 
                <h4 class="feature">Cell S provides a user-friendly cloud plateform which makes doctors and technicians easier to control every embryos status instanly.</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron feature_jumbotron text-center">
               <div class="feature">
                   <i class="feature_icon mdi mdi-cloud"></i>
                </div>
                <h3 class="feature">Expert Experience</h3> 
                <h4 class="feature">Cell S provides a user-friendly cloud plateform which makes doctors and technicians easier to control every embryos status instanly.</h4>
            </div>
        </div>
  
    </div>
</div>


<footer>
    <div class="container text-center">
        <img class="center-block" id="logo" src="{% static 'app/images/logo.png' %}"></img>
    </div>
</footer>


{% endblock %}


{% block scripts %}
<style>
#title {
    font-family: AvenirNext-Regular;
    font-size: 64px;
    color: #FFFFFF;
    letter-spacing: 0.05px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    }

#title_small{
    font-size: 36px;
    color: #FFFFFF; 
    }

#subtitle {
    font-family: Helvetica;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0.03px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

#home_jumbotron {
 background-image: url("{% static 'app/images/jumbotron.jpg' %}");
 background-size: cover;
 height: 800px;
 align-items:center;
 display:flex;
}

.container{
    background:transparent;
}


#features{
/* Features: */
    font-family: AvenirNext-Bold;
    font-size: 40px;
    color: #007AB8;
    letter-spacing: 0.03px;
}

.feature_jumbotron{
   background-color: #fff;

}


.feature_icon{  
    font-size:120px; 
    height:140px;
    width:100%;
    display:block;
}

.feature{
/* Cloud-Based Copy: */
    font-family: AvenirNext-Regular;
    color: #9B9B9B;
    letter-spacing: 0.03px;
}


footer {
/* Rectangle 108: */
    background: rgba(215,215,215,0.71);
    width:100%;
    height:45px;
    position:absolute;
}

#logo{
    margin-top:10px;
    width:210px;
    height:25px;
}

.col-md-4{
 height:400px;
}

</style>
{% endblock %}
