<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - HiDOS</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
  {% block head-styles %}{% endblock %}
  <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
  <div class="navbar navbar-fixed-top navbar-inner">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="http://hidos.hotdogee.com" class="navbar-brand">HiDOS</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'icsi' %}">Cell S</a></li>
        </ul>
        {% include 'app/loginpartial.html' %}
      </div>
  </div>

  <div class="container">
    {% block content-body %}{% endblock %}
  </div>
  
  <div class="container-fluid">
    {% block content-fluid %}{% endblock %}
  </div>

<div class="container body-content">
      {% block content %}{% endblock %}
      <hr/>

    </div>

<!--
<footer class="footer">
    <p class="text-right" style="padding-right:20px">{{ year|default:"2016" }} - Meridigen</p>
</footer>
-->
  <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
  <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
  <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

<style type="text/css">
  .navbar p{
    color: #ffffff
  }
</style>



</body>
</html>
