{% extends "app/layout_material.html" %}
{% load staticfiles %}

{% block layout-title %}
    <span class="mdl-layout-title">Cell M1: Transwell Migration <small>v{{ version }}</small></span>
{% endblock %}


{% block content %}


  {%  include 'cellm1/intro.html' %}
  {%  include 'cellm1/uploaded.html' %}
  {%  include 'cellm1/result_table.html' %}

  <!-- dropzone upload button -->
  <div class="dz-upload-button">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="dz-upload-material">
      <i class="material-icons">add</i>
    </button>
  </div>

{% endblock %}




{% block head-styles %}

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/basic.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/dropzone.css' %}" />
  <!--
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.bootstrap.css"/>
  -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.2/css/buttons.bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"/>

  <link rel="stylesheet" type="text/css" href="{% static 'app/content/spinkit.css' %}" />
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-red.min.css" />

  <style type="text/css">

    .dz-status{
      display: none;
      margin: auto;
    }



    .dz-upload-button{
      position: fixed;
      right: 25px;
      bottom: 25px;
    }

    .section--center{
        max-width: 1080px;
        margin: 48px auto 48px auto;
    }

    @media only screen and (max-width: 840px) {
      .section--center {
        margin: 48px 20px 48px 20px;
      }
    }

    #icon {
      display: inline-block;
      width: 64px;
      height: 64px;
    }
    .dropzone .dz-message {
      font-size: large;
    }
    div.DTS div.dataTables_scrollBody {
      background: white;
    }
    .cellq-icon {
      display: inline-block;
      width: 22px;
      height: 22px;
    }
    .preview-img {
      padding: 10px;
    }
    .preview-img img {
      padding: 10px 0px 0px;
    }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{% static 'app/scripts/dropzone.js' %}"></script>
  <script src="{% static 'app/scripts/underscore-min.js' %}"></script>
  <!--
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>
  -->
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
  <script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
  <script type="text/template" id="loading-template">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </script>
  <script type="text/template" id="viewer-btn-template">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect viewer-btn" data-toggle="tooltip" data-placement="right"
       data-container="body" data-html="true" data-trigger="hover"
       title="<div class='preview-img'>Result Image Preview <img src='<%= result_img %>' width='100%' height='100%'></div>"
       target="_blank" href="<%= task_url %>" role="button">
      <span class="glyphicon glyphicon-new-window"></span> Image
    </a>
  </script>
  <script type="text/template" id="cellq-name-template">
    <img class="cellq-icon" src="{% static 'app/images/cellq_icon.png' %}"> <%= name %>
  </script>
  <script src="{% static 'cellm1/js/index.js' %}"></script>

{% endblock %}
