{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
  <h1>CellM <small>v{{ version }}</small></h1>
  <ul>
    <li>Cell Ratio Analysis</li>
  </ul>

  <form id="add-photos" action="{% url 'home' %}" class="dropzone">
    {% csrf_token %}
  </form>
  <hr />
  <div>
    <h1>Results</h1>
    {% if user.is_authenticated %}

    <table id="result-list" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Viewer</th>
          <th>File Name</th>
          <th>Area</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    {% else %}

    <div>Log in to save your results</div>

    {% endif %}
  </div>

{% endblock %}
{% block head-styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/basic.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/dropzone.css' %}" />
  <!--
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/dataTables.bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.bootstrap.css"/>
  -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/scroller/1.4.0/css/scroller.dataTables.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'app/content/spinkit.css' %}" />
 
  <style type="text/css">
    #icon {
      display: inline-block;
      width: 64px;
      height: 64px;
    }
    .dropzone .dz-message {
      font-size: large;
    }
    div.DTS div.dataTables_scrollBody {
      background: white;
    }
    .cellq-icon {
      display: inline-block;
      width: 22px;
      height: 22px;
    }
    .preview-img {
      padding: 10px;
    }
    .preview-img img {
      padding: 10px 0px 0px;
    }
  </style>
{% endblock %}
{% block scripts %}
  <script src="{% static 'app/scripts/dropzone.js' %}"></script>
  <script src="{% static 'app/scripts/underscore-min.js' %}"></script>
  <!--
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/dataTables.bootstrap.js"></script>
  -->
  <script type="text/javascript" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/scroller/1.4.0/js/dataTables.scroller.min.js"></script>
  <script type="text/template" id="loading-template">
    <div class="sk-fading-circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </script>
  <script type="text/template" id="viewer-btn-template">
    <a class="btn btn-default btn-xs viewer-btn" data-toggle="tooltip" data-placement="right" 
       data-container="body" data-html="true" data-trigger="hover"
       title="<div class='preview-img'>Result Image Preview <img src='<%= result_img %>' width='100%' height='100%'></div>"
       target="_blank" href="<%= task_url %>" role="button">
      <span class="glyphicon glyphicon-new-window"></span> Image
    </a>
  </script>
  <script type="text/template" id="cellq-name-template">
    <img class="cellq-icon" src="{% static 'app/images/cellq_icon.png' %}"> <%= name %>
  </script>
  <script>
    $(document).ready(function () {
      if ($('#result-list').length) { // check if user is logged in
        var running_template = '<i>Running ' + $('#loading-template').html() + '</i>';
        var view_btn_compiled = _.template($('#viewer-btn-template').html());
        var cellq_name_compiled = _.template($('#cellq-name-template').html());
        var date_now = (new Date()).toLocaleDateString();
        var result_table;
        result_table = $('#result-list').DataTable({
          ajax: '/api/v1/tasks',
          deferRender: true,
          scroller: true,
          scrollY: 500,
          order: [[3, 'desc']],
          columns: [
            {
              name: 'viewer', data: 'url', width: '50px', orderable: false,
              render: function (data, type, row, meta) {
                if (type === 'display')
                  return view_btn_compiled({
                    task_url: data,
                    result_img: row.result_img
                  });
                else
                  return data;
              }
            },
            {
              name: 'file-name', data: 'name',
              render: function (data, type, row, meta) {
                if (type === 'display')
                  return cellq_name_compiled({ name: data });
                else
                  return data;
              }
            },
            {
              name: 'area', type: 'num', data: 'result.ratio', defaultContent: running_template, width: '100px',
              render: function (data, type, row, meta) {
                if (!data)
                  return running_template;
                else
                  return type === 'display' ? Math.round(data * 10000) / 100 + '%' : data;
              }
            },
            {
              name: 'created', type: 'date', data: 'created', width: '100px',
              render: function (data, type, row, meta) {
                var date = (new Date(data));
                if (type === 'display') {
                  var date_str = date.toLocaleDateString();
                  if (date_now === date_str)
                    return date.toLocaleTimeString();
                  else
                    return date_str;
                }
                else
                  return date;
              }
            }
          ],
          createdRow: function (row, data, index) {
            // initialize bootstrap tooltip
            $('.viewer-btn', row).tooltip();
          }
        });
        var unfinished = ['queued', 'running'];
        var unfinished_task_ids;
        var polling = false;
        $('#result-list').on('xhr.dt', function (e, settings, json, xhr) {
          // json data loaded
          // get a list of queued and running tasks
          //console.log(e, settings, json, xhr);
          if (!json) return; // consecutive ajax.reload() may result in 'abort' status
          unfinished_task_ids = _.pluck(_.filter(json.data, (t) => _.contains(unfinished, t.result_status)), 'id');
          //console.log(unfinished_task_ids);
          if (unfinished_task_ids.length > 0 && polling == false) {
            polling = true;
            var finished = ['success', 'failed'];
            var poll = function () {
              $.ajax({
                url: '/api/v1/tasks/status',
                dataType: 'json',
                type: 'GET',
                data: { 'id': unfinished_task_ids },
                traditional: true,
                success: function (data, status) {
                  //console.log(_.some(finished, (c) => _.contains(_.pluck(data.data, 'result_status'), c)));
                  if (_.some(finished, (c) => _.contains(_.pluck(data.data, 'result_status'), c))) {
                    polling = false;
                    result_table.ajax.reload();
                  } else
                    setTimeout(poll, 3000);
                }
              });
            };
            poll();
          } else {
            polling = false;
          }
        });
        Dropzone.options.addPhotos = {
          maxFilesize: 256, // MB
          uploadMultiple: false,
          parallelUploads: 2,
          maxFiles: null,
          thumbnailWidth: null,
          thumbnailHeight: 120,
          dictDefaultMessage: 'Drop one or more images here to upload',
          init: function () {
            this.on('success', function (file, response) {
              // reload result table data
              result_table.ajax.reload()
            });
          }
        };
      } else {
        Dropzone.options.addPhotos = {
          maxFilesize: 256, // MB
          uploadMultiple: false,
          maxFiles: 1,
          thumbnailWidth: null,
          thumbnailHeight: 120,
          dictDefaultMessage: 'Drop image here to upload',
          init: function () {
            this.on('success', function (file, response) {
              //console.log(file, response);
              window.location = '/' + response;
            });
          }
        };
      }
    });
  </script>
{% endblock %}